{% extends "prodotti/base.html" %}
{% block head %}
    {% load static %}
    <title>Lista prodotti</title>
{% endblock %}
{% block body %}
    <ul>
    <form method="POST">{% csrf_token %}
        {% for p in prodotti %}
            <li>
                <a href="prodotti/lista/{{ p.id }}" >{{ p.nome }}</a>
                <br>
                <br>
                <a href="prodotti/lista/{{ p.id }}"> <img src={% static p.imgUrl %} width="100",heigth="100"></a>
            </li>
        {% endfor %}
    </form>
{% endblock %}