<!DOCTYPE html>

.product
{
     text-align: justify;
    width: [width of img];
}
.product img
{
     display: block;
    margin: 0 auto;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ prodtitle }} </title>
</head>
<body>
    {% load static %}
    <h1>{{ nome }} - <b>{{ prezzo }}</b></h1>
    <br>
    <div class="product">
        <ul>
            <img src="{% static  img  %}" alt="CIBOH" align="left"/>
            <p>{{ descr }}</p>
        </ul>
    </div>
</body>
</html>